@model IEnumerable<PersonalAccount.Domain.Models.Dto.WorkScheduleDto>

<div class="card shadow-sm">
    <div class="card-header bg-info text-white">
        <h5 class="mb-0">Отчет "График работы"</h5>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Сотрудник</th>
                        <th>Начало смены</th>
                        <th>Окончание смены</th>
                        <th>Отработано часов</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EmploeeName</td>
                            <td>@item.Start.ToString("dd.MM.yyyy HH:mm")</td>
                            <td>@item.Stop.ToString("dd.MM.yyyy HH:mm")</td>
                            <td>
                                @((item.Stop - item.Start).TotalHours.ToString("F1")) ч.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>