@model ErrorViewModel

<h1 class="text-center">Error</h1>
<div class="text-center">
    <lebel class="form-controll text-danger">"@Model.Title"</lebel><br /> 
    <lebel class="form-controll text-danger">"@Model.ErrorText"</lebel><br /> 
    <lebel class="form-controll text-danger">"@Model.StackTrace"</lebel><br /> 
</div>