@{
    ViewData["Title"] = "Home Page";
}
@model PersonalAccount.Domain.Models.BranchModel

<div class="text-center">
    
    <label class="form-control">"@Model.Name" </label><br />
    <label class="form-control">"@Model.Id" </label><br />

</div>


