@{
    ViewData["Title"] = "Home Page";
}
@model PersonalAccount.Domain.Models.BranchModel

<div class="text-center">
    <lebel class="form-controll">"@Model.Name"</lebel><br /> 
    <lebel class="form-controll">"@Model.Id"</lebel><br /> 
</div>
