@{
    ViewData["Title"] = "Edit Settings";
}

@model PersonalAccount.Domain.Models.LoadingSettingsModel

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
        
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>

        <div class="row g-3">
            <div class="col">
                <label asp-for="StartPosition"></label>
                <input asp-for="StartPosition" class="form-control" />
                <span asp-validation-for="StartPosition" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="BatchSize"></label>
                <input asp-for="BatchSize" class="form-control" />
                <span asp-validation-for="BatchSize" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>

</form>